# misc
.idea
.DS_Store
__pycache*

# data
data
data1
data2
data3
data4

# checkpoint dir
output

# cluster logs
*.err
*.out

# wandg
artifacts/
wandb/

# lightning
lightning_logs/

# tensorboard
tb_logs/